.row
  .col-md-6.col-md-offset-3
    %table.table.table-striped.table-hover
    %h2 All Tags
    %tbody
      %tr
        %td
          - @tags.each do |tag|
            %p
            .panel.panel-primary
              .panel-heading
                %h3.panel-title= link_to tag.name,tag_path(tag)
              %p
              .panel-body
                = "asdafs"
                %br
            .col-md-6
              = link_to tag do
                %i.fa.fa-eye{"aria-hidden" => "true"}
                |
              = link_to edit_tag_path(tag) do
                %i.fa.fa-pencil{"aria-hidden" => "true"}
                |
              = link_to tag,method: :delete do
                %i.fa.fa-trash-o{"aria-hidden" => "true"}
