	<div class="row col-md-10 col-md-offset-1">
	<%= image_tag "posted_icon.jpeg"  %>
	<span ></span>
	 Posted on <%= @post.created_at.strftime("%b %d, %Y")%>
	</div>

	<div class="jumbotron col-md-10 col-md-offset-1 text-info"  >
		<div class="row">
		  	<div class="col-md-12">
				<h2><%= @post.title%><br></h2>
		  	</div>
		 	<div class="form-group col-md-12">
	        	<p><small><%= @post.body%></small></p>
	      	</div>	
		</div>
		<div class="row">
		  <div class="col-md-12">
		  <div class="row col-md-12 " style="margin: 20px 0;border: 1px solid #e3e3e3;padding: 10px">
				<h2>Add Comment</h2>
				<%= render 'comments/form' %>
			</div>
			
		  
			<h4>  Comments :</h3>
			<% @post.comments.each do |comment|%>
			<div class="row col-md-12 " style="margin: 20px 0;border: 1px solid #e3e3e3;padding: 10px">
			
				<div class="row col-md-6 " >
					Name :<%= comment.name%><br>
					Body :<%= comment.body%><br>
				</div>
				<div class="row col-md-6" align="right" style="padding: 10px">
					<%= link_to 'delete',[comment.post,comment],method: :delete %><br>
					<br>
				</div>

			</div>
			<%end%>

		  </div>
		</div>
	</div>
		


			

