
<div class="jumbotron col-md-6 col-md-offset-3" >
	<div class="row">
	  	<div class="col-md-12">
			<%= @post.title%><br>
	  	</div>
	 	<div class="form-group col-md-12">
        	<textarea  class="form-control" rows="6" ><%= @post.body%></textarea>
      	</div>	
	</div>
</div>
	
<div class="jumbotron col-md-6 col-md-offset-3" >
	<div class="row">
	  <div class="col-md-4">
		<h4>  Comments :</h3>
		<% @post.comments.each do |comment|%>
			Name :<%= comment.name%><br>
			Body :<%= comment.body%><br>
			<%= link_to 'Delete Comment',[comment.post,comment],method: :delete %><br>
			<br>
		<%end%>
		<h2>Add Comment</h2>
		<%= render 'comments/form' %>
	  </div>
	</div>
</div>

		

