.row
  .col-md-6.col-md-offset-3
    = link_to new_post_path do
      %span
      %i.fa.fa-plus-square{"aria-hidden" => "true"}
      &nbsp;Add Post
    %br/
    = link_to mailerslist_path do
      %span
      %i.fa.fa-envelope-o{"aria-hidden" => "true"}
      &nbsp;Mailers
    %br/

    %table.table.table-striped.table-hover
      %thead
        %tr

    %h2 All Posts
    %tbody
      %tr
        %td
          - @posts.each do |post|
            %p
            .panel.panel-primary
              .panel-heading
                %h3.panel-title= link_to post.title,post_path(post)
              %p
              .panel-body
                = post.body
                %br/
            .col-md-6
              = link_to post do
                %i.fa.fa-eye{"aria-hidden" => "true"}
                |
              =link_to edit_post_path(post) do 
                %i.fa.fa-pencil{"aria-hidden" => "true"}
                |
              =link_to post,method: :delete do
                %i.fa.fa-trash-o{"aria-hidden" => "true"}


            .panel-body{:align => "right", :style => ""}
              %i.fa.fa-comments{"aria-hidden" => "true"}
              = post.comments.count
              = "Comments"