%h2.col-md-offset-5 MailersList
.row
  .container.col-md-6.col-md-offset-3
    .well
      %table.table.table-strped.table-hover
        %thead
          %tr
            %th #
            %th Name
            %th Email
            %th Mobile

        %tbody
          - @mailers.each do |mailer|
            %tr   
              %td
                %input{:onclick => "check(#{mailer.mobile})",:id => "#{mailer.mobile}" ,:type => "checkbox"}

              
              %td= mailer.name
              %td= mailer.email
              %td= mailer.mobile
      .col-md-offset-5  
        %button{:class => "btn btn-primary" ,:onclick => "",:id => "submit", :type => "button"} Send Email




