<div class="row">
	<div class="container col-md-4 col-md-offset-4 form-horizontal">
		<div class="well">
		<legend>New Post</legend>
			<%= form_for @post do |f|%>
			
				<div class="form-group">
					<%= f.label :title%>
					<%= f.text_field :title, class: 'form-control'%>
				</div>
				
				<div class="form-group">
					<%= f.label :body%>
					<%= f.text_area  :body,class: 'form-control'%>
				</div>

				<div class="form-group">
					<div class="col-md-4 col-md-offset-4">
					<%= f.submit 'Submit', class: 'btn btn-primary' %>
					</div>
				</div>
				
			<%end%>
		</div>
	</div>
</div>